* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0008;
    font-family: Arial, sans-serif;
}
.wrapper {
    background-color: lightblue;
    width: 80%;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
div {
    margin-top: 40px;
}

div.header {
    text-align: center;
    background-color: lightblue;
}
p {
    font-size: 15px;
    margin-left: 50px;
    padding-top: 10px;
}
li {
    font-size: 15px;
    margin-left: 60px;
}
#one {
    background-color: black;
    color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
}
#two {
    background-color: black;
    color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
}
#three {
    background-color: black;
    color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
}
#four {
    background-color: black;
    color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
}
#five {
    background-color: black;
    color: white;
    padding: 50px 30px 50px 32px;
    border-radius: 10px;
}
#six {
    background-color: black;
    color: white;
    padding: 50px 30px 50px 30px;
    border-radius: 10px;
}